*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  overflow: auto;
  li {
    list-style: none;
    display: inline;
    padding: 0 15px 0 15px;
  }
  p {
    float: left;
    display: inline;
    position: relative;
    left: 100px;
  }
}

.search {
  overflow: auto;
  padding: 5px;
  background-color: gray;
  ul {
    float: right;
  }
  li {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
  p {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}

.logo {
  overflow: auto;
  padding: 5px;
  ul {
    float: right;
  }
  img {
    width: 300px;
    position: relative;
    left: 100px;
    &:hover {
      cursor: pointer;
    }
  }
  li {
    &:hover {
      border: 1px solid black;
      cursor: pointer;
    }
  }
}

.pilot {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  display: none;
  &:hover {
    cursor: pointer;
  }
}

main {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 250px;
  &:hover {
    cursor: pointer;
  }
}

header {
  overflow: auto;
  text-align: center;
  text-shadow: 1px 1px black;
  color: white;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: -200px;
}

button {
  font-size: 20px;
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  border: 2px solid white;
  transition-duration: 0.4s;
  &:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}

.container {
  overflow: auto;
  text-align: center;
  padding: 30px;
  &.showcase {
    position: relative;
    bottom: 200px;
  }
}

.col-3 {
  float: left;
  width: 33.3%;
}

.showcase-1 {
  overflow: auto;
  color: white;
  text-align: left;
  text-indent: 20px;
  background-image: url(../img/13.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
}

.showcase-2 {
  overflow: auto;
  color: white;
  text-align: left;
  text-indent: 20px;
  background-image: url(../img/12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
}

.showcase-3 {
  overflow: auto;
  color: white;
  text-align: left;
  text-indent: 20px;
  background-image: url(../img/11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  &.hover {
    cursor: pointer;
  }
}

.container.products {
  margin-top: -230px;
  width: 100%;
}

.col-4 {
  float: left;
  width: 25%;
  height: 360px;
  padding: 10px;
  cursor: pointer;
  h3 {
    overflow: auto;
    position: relative;
    top: 200px;
  }
  p {
    overflow: auto;
    position: relative;
    top: 200px;
  }
}

.product-1 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-2 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-3 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-4 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-5 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/7.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-6 {
  overflow: auto;
  height: 200px;
  margin-bottom: -175px;
  background-image: url(../img/8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-7 {
  overflow: auto;
  height: 200px;
  margin-bottom: -175px;
  background-image: url(../img/9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.product-8 {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-image: url(../img/10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

footer {
  position: relative;
  h1 {
    overflow: auto;
    position: absolute;
    bottom: 0px;
    right: 16px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 1100px) {
  .col-4 {
    width: 33.3%;
    margin: 0 auto;
  }

  .desktop {
    display: none;
  }

  .logo {
    text-align: center;
  }

  .logo ul {
    display: none;
  }

  .pilot {
    display: block;
  }

  main {
    background-size: cover;
  }

  header {
    width: 400px;
    font-size: 15px;
  }

  .showcase-1 {
    background-size: cover;
    font-size: 13px;
  }

  .showcase-2 {
    background-size: cover;
    font-size: 13px;
  }

  .showcase-3 {
    background-size: cover;
    font-size: 13px;
  }

}

@media screen and (max-width: 600px) {
  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 100%;
  }

  .tablet {
    display: none;
  }

  .search p {
    display: none;
  }

  .logo {
    text-align: center;
  }

  main {
    background-size: cover;
    padding-top: 30px;
  }

  header {
    position: relative;
    top: 60px;
    right: 50px;
    font-size: 14px;
    width: 230px;
  }

  header h2 {
    display: none;
  }

  .showcase-1 {
    background-size: cover;
    font-size: 10px;
  }

  .showcase-2 {
    background-size: cover;
    font-size: 10px;
  }

}
