*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  overflow: auto;
  li {
    list-style: none;
    display: inline;
    padding: 0 15px 0 15px;
  }
  p {
    float: left;
    display: inline;
    position: relative;
    left: 100px;
  }
}

.search {
  overflow: auto;
  padding: 5px;
  background-color: gray;
  ul {
    float: right;
  }
  li {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
  p {
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}

.logo {
  overflow: auto;
  padding: 5px;
  ul {
    float: right;
  }
  img {
    width: 300px;
    position: relative;
    left: 100px;
    &:hover {
      cursor: pointer;
    }
  }
  li {
    &:hover {
      border: 1px solid black;
      cursor: pointer;
    }
  }
}

.pilot {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  display: none;
  &:hover {
    cursor: pointer;
  }
}

main {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 250px;
  &:hover {
    cursor: pointer;
  }
}

header {
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px black;
  color: white;
  width: 600px;
  padding: 20px;
  position: relative;
  top: -200px;
}

button {
  font-size: 20px;
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  border: 2px solid white;
  transition-duration: 0.4s;
  &:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}

.container {
  overflow: auto;
  text-align: center;
  padding: 30px;
  &.showcases {
    position: relative;
    bottom: 200px;
  }
  &.products {
    margin-top: -230px;
    width: 100%;
  }
}

.col-3 {
  float: left;
  width: 33.3%;
}

.showcase {
  overflow: auto;
  color: white;
  text-align: left;
  text-indent: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  &.info1 {
    background-image: url(../img/13.png);
  }
  &.info2 {
    background-image: url(../img/12.png);
  }
  &.info3 {
    background-image: url(../img/11.png);
  }
  &:hover {
    cursor: pointer;
  }
}

.col-4 {
  float: left;
  width: 25%;
  height: 360px;
  padding: 10px;
  cursor: pointer;
  h3 {
    overflow: auto;
    position: relative;
    top: 200px;
  }
  p {
    overflow: auto;
    position: relative;
    top: 200px;
  }
}

.product {
  overflow: auto;
  height: 200px;
  margin-bottom: -150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  &.first {
    background-image: url(../img/3.jpg);
  }
  &.second {
    background-image: url(../img/4.jpg);
  }
  &.third {
    background-image: url(../img/5.jpg);
  }
  &.fourth {
    background-image: url(../img/6.png);
  }
  &.fifth {
    background-image: url(../img/7.jpeg);
  }
  &.sixth {
    margin-bottom: -175px;
    background-image: url(../img/8.jpg);
  }
  &.seventh {
    margin-bottom: -175px;
    background-image: url(../img/9.jpg);
  }
  &.eighth {
    background-image: url(../img/10.jpg);
  }
}

@media screen and (max-width: 1100px) {
  .col-4 {
    width: 33.3%;
    margin: 0 auto;
  }
  .desktop {
    display: none;
  }
  .logo {
    text-align: center;
    ul {
      display: none;
    }
  }
  .pilot {
    display: block;
  }
  main {
    background-size: cover;
  }
  header {
    width: 400px;
    font-size: 15px;
  }
  .showcase {
    &.product {
      background-size: cover;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 600px) {
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 100%;
  }
  .tablet {
    display: none;
  }
  .search p {
    display: none;
  }
  .logo {
    text-align: center;
  }
  main {
    background-size: cover;
    padding-top: 30px;
  }
  header {
    width: 230px;
    font-size: 14px;
    position: relative;
    top: 10px;
    right: 100px;
    h2 {
      display: none;
    }
  }
  .showcase {
    background-size: cover;
    font-size: 10px;
  }
}