
{{#each products}}
    <div class='col-4'>
        <div class='product'><img src="{{this.image}}"></div>
        <h3>{{this.name}} - {{this.desc}}</h3>
        <p>${{this.price}}</p>
    </div>
{{/each}}
